# STAGE A TAG-ALONG CODES

INTRODUCTION TO PYTHON FOR MACHINE LEARNING TAG ALONG CODES

Answers to the second part of the Quiz using the African food production dataset provided by the FAO.

In [5]:
import pandas as pd
f_a=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG (1).csv", encoding="latin1")

In [6]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#  What is the total sum of Wine produced in 2015 and 2018 respectively?

In [6]:
f_a.groupby('Item').sum()
A=pd.DataFrame(f_a.groupby('Item').sum())
print(A.at['Wine','Y2015'])
print(A.at['Wine','Y2018'])

4251.81
4039.32

# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [27]:
f_a.describe()
B=pd.DataFrame(f_a.describe())
decimal_format = "{:.3f}".format(B.at['mean','Y2017'])
decimal_format1 = "{:.3f}".format(B.at['std','Y2017'])
print(decimal_format)
print(decimal_format1)

140.918
1671.862

# What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [28]:
f_a.isnull().sum()
C=pd.DataFrame(f_a.isnull().sum())
D=C.iat[9,0]
E=len(f_a)
Percentage=(D/E)*100
Percentage_format = "{:.2f}".format(Percentage)
print(D, 'and' , Percentage_format,'%')

1535 and 2.52 %

#  Which year had the least correlation with ‘Element Code’?

In [9]:
f_a.groupby('Element Code').sum()
F=pd.DataFrame(f_a.groupby('Element Code').sum())
P=F.reset_index()
print(P['Element Code'].corr(P['Y2014']))
print(P['Element Code'].corr(P['Y2015']))
print(P['Element Code'].corr(P['Y2016']))
print(P['Element Code'].corr(P['Y2017']))
print(P['Element Code'].corr(P['Y2018']))

print('Y2016 had the least correlation with Element Code')

0.1282844672996681
0.1254596929964542
0.12381721378789941
0.12920400412461072
0.12888513118822403
Y2016 had the least correlation with Element Code

# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [10]:
G=pd.DataFrame(f_a)
G1=pd.DataFrame(G[G['Element'].eq('Stock Variation')]).sum()
print(G1)
print('The year with the highest sum of stock variation is 2014')

Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Element         Stock VariationStock VariationStock VariationS...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
dtype: object
The year with the highest sum of stock variation is 2014

#  Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [31]:
f_a.groupby('Element')['Y2017'].sum()
H=pd.DataFrame(f_a.groupby('Element')['Y2017'].sum())
print(H)
o=H.at['Processing','Y2017']
print(o)

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00
292836.0

#  Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [8]:
f_a.groupby('Area')['Y2017'].sum()
I=pd.DataFrame(f_a.groupby('Area')['Y2017'].sum())
print(I)

print("Nigeria has the highest sum")

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34
Nigeria has the highest sum

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [33]:
f_a.groupby('Area')['Y2017'].sum()
J=pd.DataFrame(f_a.groupby('Area')['Y2017'].sum())
J
J["Y2017"].rank()

Area
Algeria                        43.0
Angola                         38.0
Benin                          29.0
Botswana                        9.0
Burkina Faso                   26.0
Cabo Verde                      6.0
Cameroon                       39.0
Central African Republic       15.0
Chad                           21.0
Comoros                         3.0
Congo                          16.0
Côte d'Ivoire                  37.0
Djibouti                       10.0
Egypt                          48.0
Eswatini                       19.0
Ethiopia                       46.0
Ethiopia PDR                    1.5
Gabon                          12.0
Gambia                         11.0
Ghana                          44.0
Guinea                         25.0
Guinea-Bissau                   7.0
Kenya                          41.0
Lesotho                         8.0
Liberia                        13.0
Madagascar                     31.0
Malawi                         35.0
Mali                           32.0
Mauritania                     33.0
Mauritius                      18.0
Morocco                        45.0
Mozambique                     34.0
Namibia                        14.0
Niger                          30.0
Nigeria                        49.0
Rwanda                         22.0
Sao Tome and Principe           5.0
Senegal                        24.0
Seychelles                      4.0
Sierra Leone                   20.0
South Africa                   47.0
Sudan                          40.0
Sudan (former)                  1.5
Togo                           17.0
Tunisia                        28.0
Uganda                         36.0
United Republic of Tanzania    42.0
Zambia                         27.0
Zimbabwe                       23.0
Name: Y2017, dtype: float64

# What is the total Protein supply quantity in Madagascar in 2015?

In [15]:
k=pd.DataFrame(f_a)
K3=pd.DataFrame(k[k['Area'].eq('Madagascar')])
K8=pd.DataFrame(K3)
print(K8)
#K5=K8[['Area','Element','Y2015']]
#K6=pd.DataFrame(K5)
#K7=(K6.loc[K6['Element']=='Protein supply']).sum()
#print(K7)
#  Protein supply quantity in Madagascar in 2015

       Area Code        Area  Item Code           Item  Element Code  \
30715        129  Madagascar       2501     Population           511
30716        129  Madagascar       2501     Population          5301
30717        129  Madagascar       2901    Grand Total           664
30718        129  Madagascar       2901    Grand Total           674
30719        129  Madagascar       2901    Grand Total           684
...          ...         ...        ...            ...           ...
32149        129  Madagascar       2899  Miscellaneous          5142
32150        129  Madagascar       2899  Miscellaneous           645
32151        129  Madagascar       2899  Miscellaneous           664
32152        129  Madagascar       2899  Miscellaneous           674
32153        129  Madagascar       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18
...                                       ...              ...       ...
32149                                    Food      1000 tonnes     10.00
32150     Food supply quantity (kg/capita/yr)               kg      0.44
32151           Food supply (kcal/capita/day)  kcal/capita/day      0.00
32152  Protein supply quantity (g/capita/day)     g/capita/day      0.01
32153      Fat supply quantity (g/capita/day)     g/capita/day      0.01

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
...         ...       ...       ...       ...
32149     11.00     11.00     11.00     12.00
32150      0.44      0.44      0.44      0.44
32151      0.00      0.00      0.00      0.00
32152      0.01      0.01      0.01      0.01
32153      0.01      0.01      0.01      0.01

[1439 rows x 12 columns]

#  The total number of unique countries in the dataset is

In [89]:
f_a.groupby(['Area']).sum()
L=pd.DataFrame(f_a.groupby(['Area']).sum())
print(L)
print(L.nunique())
print('The total number of unique countries in the dataset is 49')

Area Code       49
Item Code       49
Element Code    49
Y2014           48
Y2015           48
Y2016           48
Y2017           48
Y2018           48
dtype: int64
The total number of unique countries in the dataset is 49

In [7]:
a=(1,2,5,8)

In [8]:
a[2]=6

TypeError: 'tuple' object does not support item assignment

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [10]:
S = [['him', 'sell'], [90, 28, 43]]

In [11]:
S[0][1][1]

'e'

In [12]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [13]:
pd.Dataframe()

AttributeError: module 'pandas' has no attribute 'Dataframe'